<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright 2014, barter.li

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="li.barter">

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>

    <application
        android:name="li.barter.BarterLiApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- Meta data for Google Play Services -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <!-- Meta data for Facebook SDK -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="@string/crashlytics_id"/>

        <!-- Activity declarations -->
        <activity
            android:name="li.barter.activities.HomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="li.barter.activities.ScanIsbnActivity"
            android:label="@string/app_name"
            android:parentActivityName="li.barter.activities.HomeActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="li.barter.activities.HomeActivity"/>
        </activity>

        <activity
            android:name="li.barter.activities.AuthActivity"
            android:label="@string/app_name"
            android:parentActivityName="li.barter.activities.HomeActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="li.barter.activities.HomeActivity"/>
        </activity>

        <activity
            android:name="li.barter.activities.UserProfileActivity"
            android:label="@string/app_name"
            android:parentActivityName="li.barter.activities.HomeActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="li.barter.activities.HomeActivity"/>
        </activity>

        <activity
            android:name="li.barter.activities.BookDetailActivity"
            android:label="@string/app_name"/>

        <activity
            android:name="li.barter.activities.SearchBookPagerActivity"
            android:label="@string/app_name"/>

        <activity
            android:name="li.barter.activities.SelectPreferredLocationActivity"
            android:label="@string/app_name"/>

        <activity
            android:name="li.barter.activities.AddOrEditBookActivity"
            android:label="@string/app_name"/>

        <activity
            android:name="li.barter.activities.AboutUsActivity"
            android:label="@string/app_name"/>

        <activity
            android:name="li.barter.activities.EditProfileActivity"
            android:label="@string/app_name"/>

        <activity
            android:name="li.barter.activities.SettingsActivity"
            android:label="@string/app_name"
            android:parentActivityName="li.barter.activities.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="li.barter.activities.HomeActivity"/>
        </activity>
        <activity android:name="com.facebook.LoginActivity"/>

        <!-- Broadcast Receivers -->
        <receiver
            android:name="li.barter.http.NetworkChangeReceiver"
            android:exported="true"
            android:label="@string/receiver_network">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="li.barter.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>

        <!-- Services -->
        <service
            android:name="li.barter.chat.ChatService"
            android:exported="false"
            android:label="@string/service_chat"/>
    </application>

</manifest>