/build
/bin
/gen

# Crashlytics
crashlytics.properties
res/values/com_crashlytics_export_strings.xml

# API KEYS (Google)
res/values/api_keys.xml

# LICENSE
res/values/license.xml

assets/crashlytics-build.properties

