/bin
/gen

# Crashlytics
crashlytics.properties
src/main/res/values/com_crashlytics_export_strings.xml
src/main/assets/crashlytics-build.properties

src/main/res/values/api_keys.xml
src/main/res/values/license.xml