/build
/bin
/gen

# Crashlytics
crashlytics.properties
main/res/values/com_crashlytics_export_strings.xml

# API KEYS (Google)
main/res/values/api_keys.xml

# LICENSE
main/res/values/license.xml

main/assets/crashlytics-build.properties

